<div class='container'>

  <div class='card mt-5'>
    <%= simple_form_for @compound_interest, url: compound_interest_path, method: :get do |f| %>
      <div class='card-header'>
        <strong class='card-title mb-0'>Compound Interest Calculator</strong>
      </div>

      <div class='card-body'>
        <%= f.input :current_principal %>
        <%= f.input :years_to_grow %>
        <%= f.input :interest_rate %>
        <%= f.input :annual_addition %>
      </div>

      <div class='card-footer d-flex justify-content-between'>

        <%= f.submit 'Calculate', class: 'btn btn-primary' %>

        <%- if @compound_interest.result.present? %>
          <div class='text-center input-label'>
            <span>Future Value</span>
            <strong><%= number_to_currency @compound_interest.result %></strong>
          </div>
        <%- end %>

      </div>

    <%- end %>

  </div>


</div>
<p> test change </p>
